.modal {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 500000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: blrgba(0, 0, 0, 0.077);
  top: 0;
  left: 0;

  .modal-content {
    position: relative;
  }

  .close-modal {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-50%, -50%);
    height: 1em;
    width: 1em;
    border-radius: 100%;
  }
}
