h1 {
  font-weight: bold;
}
.form-page {
  text-align: center;
  display: grid;
  gap: 2em;
  margin-top: 2em;

  > p {
    width: fit-content;
    margin: auto;
  }
  .line {
    max-width: 80%;
    height: 1px;
    width: 100%;
    background: rgba(128, 128, 128, 0.143);
    margin: auto;
  }
}
