.card {
  box-shadow: 2px 2px 4px black;
  width: fit-content;
  margin: auto;
  flex-wrap: wrap;
  .card-image {
    object-fit: contain;
    height: auto;
  }
  .card-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    padding: 2em 1em 1.5em 1em;
  }

  .card-cat {
    color: white;
    width: fit-content;
    position: absolute;
    padding: 0.1em 0.5em;
    right: 0;
    top: 0;
  }

  .btn-group {
    display: flex;
    gap: 0.5em;
    margin-top: 1em;
  }
  .flex-li {
    display: flex;
    align-items: center;
    gap: 0.5em;
    .icone {
      height: 1em;
    }
  }
}

@media (min-width: 868px) {
  .card {
    display: flex;
  }
}
