.navbar {
  display: flex;
  justify-content: space-between;
  background: var(--light-red);
  padding: 0.5em;
  ul {
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 2em;

    li {
      transition: all 0.2s;
    }

    li:hover {
      opacity: 0.5;
    }
    .active,
    li:has(.active) {
      pointer-events: none;
      opacity: 0.5;
    }

    a {
      color: white;
    }
  }
}
