.navbar {
  display: flex;
  justify-content: space-between;
  background: var(--light-red);
  padding: 0.5em;

  .logo {
    height: 2em;
  }

  .flex-li {
    display: flex;
    align-items: center;
    color: white;
    gap: 1em;

    p,
    a {
      color: white;
    }
  }

  .flex-li a {
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
    .active {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .btn-logout {
    display: flex;
    align-items: center;
    gap: 1em;

    .icone {
      height: 1.5em;
      rotate: 180deg;
    }
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;

    li {
      transition: all 0.2s;
    }

    li:hover {
      opacity: 0.5;
    }
    .active,
    li:has(.active) {
      pointer-events: none;
      opacity: 0.5;
    }

    a,
    p {
      color: white;
    }
  }
}
